/*  Contents
    #01 Generic #buddypress
    #2 Activity Permalink pages → /buddypress/activity/single/index.php
    #3 Activity Directory page → /buddypress/activity/index-directory.php
    #4 Member Directory page → /buddypress/members/index-directory.php
        #4.1 Member Profile page → /buddypress/members/single/home.pgp
    #5 Group Directory page → /buddypress/groups/index-directory.php
    #6 Group Creation page → /buddypress/groups/index-create.php
    #7 Site Directory page → /buddypress/blogs/index-directory.php
    #8 Site Creation page → /buddypress/blogs/index-create.php
    #9 Registration page → /buddypress/members/index-register.php
    #10 Activation page → /buddypress/members/index-activate.php
*/

/* #01 Generic #buddypress */
                                            @import "buddypress/generic";
/* #2 Activity Permalink pages */
                                            @import "buddypress/activitypermalink";
/* #3 Activity Directory page */
                                            @import "buddypress/activitydirectory";
/* #4 Member Directory page */
                                            @import "buddypress/members";
/* #5 Group Directory page */
/* #6 Group Creation page */
.group-create {
    .radio > ul, .radio > label {display: inline-block !important;
    margin-bottom: 20px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    top: 0;
    vertical-align: top; }
    .radio {@include box-shadow(0 10px 10px -10px #a0a0a0);
    clear: both !important;
    display: block !important;
    margin-bottom: 40px;
    overflow: hidden;
    padding-bottom: 40px; }
    .sidebar {display: none; }
    .single {float: none; margin: 0 auto !important;}
    .radio:nth-child(5) label {background: none repeat scroll 0 0 #dddddd; height: 90px; margin: 0 !important; padding: 0; width: 32.333% !important;}
}
/* #7 Site Directory page */
/* #8 Site Creation page */
/* #9 Registration page */
                                            @import "buddypress/register";
/* #10 Activation page */













body {background-image: url("img/congruent_outline.png");
    &.page-template-page-no-sidebar-php, &.registration {background: #e1e5e7; }
}




#buddypress div.activity-comments ul li>ul {padding-left:0 !important; margin-left:0 !important;margin-top:0 !important; }












.my-account {
    .col-md-9.single #buddypress #item-header > div#item-header-avatar {padding: 0;
    position: unset;
    right: auto;
    text-align: center;
    top: auto;}
    .buddyb .single-in {overflow: visible;}
    }


/*members and groups */
.members.directory, .groups.directory {
    .buddyb .sing-spacer {padding:0;}
    .buddyb .sing-tit-cont h3 {z-index: unset;}
}
#buddypress {
    position: relative; z-index: 2;
    #groups-list.item-list .hidden {display: unset !important; visibility: unset !important;}
    #members-list, #groups-list {
        &.item-list li:hover {background: none repeat scroll 0 0 #f5f5f5;}
        &.item-list li {padding:2%;
               -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation-name: fadeInUp;
                animation-name: fadeInUp;
                &:nth-child(1) {-webkit-animation-delay:0;animation-delay:0;}
                &:nth-child(2) {-webkit-animation-delay:100ms;animation-delay:100ms;}
                &:nth-child(3) {-webkit-animation-delay:200ms;animation-delay:200ms;}
                &:nth-child(4) {-webkit-animation-delay:300ms;animation-delay:300ms;}
                &:nth-child(5) {-webkit-animation-delay:400ms;animation-delay:400ms;}
                &:nth-child(6) {-webkit-animation-delay:500ms;animation-delay:500ms;}
                &:nth-child(7) {-webkit-animation-delay:600ms;animation-delay:600ms;}
                &:nth-child(8) {-webkit-animation-delay:700ms;animation-delay:700ms;}
                &:nth-child(9) {-webkit-animation-delay:800ms;animation-delay:800ms;}
                &:nth-child(10) {-webkit-animation-delay:900ms;animation-delay:900ms;}
                &:nth-child(11) {-webkit-animation-delay:1000ms;animation-delay:1000ms;}
                &:nth-child(12) {-webkit-animation-delay:1100ms;animation-delay:1100ms;}
                &:nth-child(13) {-webkit-animation-delay:1200ms;animation-delay:1200ms;}
                &:nth-child(14) {-webkit-animation-delay:1300ms;animation-delay:1300ms;}
                &:nth-child(15) {-webkit-animation-delay:1400ms;animation-delay:1400ms;}
                &:nth-child(16) {-webkit-animation-delay:1500ms;animation-delay:1500ms;}
                &:nth-child(17) {-webkit-animation-delay:1600ms;animation-delay:1600ms;}
                &:nth-child(18) {-webkit-animation-delay:1700ms;animation-delay:1700ms;}
                &:nth-child(19) {-webkit-animation-delay:1800ms;animation-delay:1800ms;}
                &:nth-child(20) {-webkit-animation-delay:1900ms;animation-delay:1900ms;}

        }
        /*&.init li{-webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
        }*/
    }
    #groups-list {
        &> li {background: none repeat scroll 0 0 #fff;
        float: left;
        margin: 1% !important;
        overflow: hidden;
        padding: 3px !important;
        width: 23%; 
        &:hover {background:#fafafa;}
    }
        .action, .item-desc,.item-meta  {display: none; }
        .item {max-height: 70px; min-height: 70px; overflow: hidden; }
        .item-title {line-height: 14px; margin-top: 7px !important; width: 100% !important; }
        }
}

/*end members and groups*/




/*start groups*/
.button.group-create.bp-title-button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #02c29d;
    border-radius: 9px;
    font-size:1.813rem;
    line-height: 40px !important;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 999999;
}
/*end groups*/



/*forum create*/
#bbpress-forums a.bbp-topic-permalink {
    color: $yale;
    font-size: 1.1rem;
}
#new-post input[type="text"], #new-post textarea {
    border: 1px solid #adadad;
    border-radius: 5px;
    @include box-shadow(0 2px 4px 2px #d0d0d0 inset);
}
#bbp_topic_submit, #bbp_reply_submit {@include btn($yale, $myrad, #fff);}
.subscription-toggle {float:right; @include btn($yellow, $myrad, darken($yellow, 20%)); font-size: .7rem; font-weight: bold;}
.is-subscribed .subscription-toggle {@include btn($yale, $myrad, #fff); font-size: .7rem; }





