.featured{ 	
	position: relative;
	top: 0;
	float: left;
	left: 0;
	height: 220px;
	width: 94% !important;
    z-index: 1; /*opacity:0;*/
	.slider {width: 100%; height: 100%;}
	.item-featured{position: relative;overflow:hidden; max-height:220px;height: 220px; padding:0;}
	.item-featured img{z-index: 50;width: 100%;height:auto;opacity:0;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;}
	.item-featured:hover > a img{opacity:1;
	    -webkit-transform:scale(1.1);
	    -moz-transform:scale(1.1);
	    -ms-transform:scale(1.1);
	    -o-transform:scale(1.1);
	    transform:scale(1.1); }
	.yt-featured{width:132.9%!important;margin-left:-15%;}	
	.caption{position: absolute;bottom:0;z-index:100;width:100%;background: none ;color:#fff;;}
	.cat{padding:0 20px;color: #fff;text-transform: uppercase;text-shadow: 0 0 3px #000;font-weight: 700;font-size:.7rem;}
	.date{padding:0 20px;color: lighten($green,5);text-transform: uppercase;text-shadow: 0 0 3px #000;font-weight: 700;font-size:.7rem;}
	.title{margin:0;padding:5px 25px 25px 25px;text-transform: uppercase;font-weight: 400;font-size: 1.3rem;}
	&.loading {
		&:before {color: #ffffff; content: "Loading Goodness..."; font-family: lato; line-height: 45px; position: absolute; text-align: center; top: 50%; width: 100%; z-index: 1;}
		.item img {opacity: 0;}
	}
	&.animated {
		.item img {opacity: 1;}
	}
	
	&.ready {height: 0px; position: relative !important;@include trans(1s);
			&:hover {height:unset;}
	}
	

} /*end featured*/
	

	.sliderNav {
		@include btn($yale,$myrad,#fff);
	    position: absolute;
	    top: 0;
	    display: table-cell; height: 220px; padding: 0 !important; text-align: center; vertical-align: middle; width: 3%;

		&.next {float: left; position: relative; left:0; }
		&.prev {float: right; position: relative; right:0; }
		i {position: relative; top: 45%;}
	}
	#featMenu .item .caption {@include trans(600ms); background: none repeat scroll 0 0 rgba(0, 0, 80, 0.8); text-align: center; height:70px; }
	#featMenu .cat, #featMenu .date {display: none; }
	#featMenu .title {font-size: 1.5rem; font-weight: 300; text-transform: unset; @include trans(600ms); opacity: 1;}
	#featMenu {position: relative;z-index: 1; height: 220px; @include trans(1s); overflow: hidden;}
	#featMenu .item:hover .caption { height:65px;}

	.spacer{height: 90px;
		&.sticknav {height: 0;}
		@media screen and (max-width: $mediumbreak) {
			height: 44px;
		}
	}
	#map {position: relative; width: 100%; height: 140px; display: block; overflow: hidden;
	  #grid {background:url('img/grid.gif');}
	  .layer {position: absolute; text-align: center; }
	}
	

