.footer{ background: #f5f5f5; margin-bottom:20px; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;  border-top: 1px solid #ddd; @include border-radius(0 0 $myrad $myrad); color: #fff; float: none; padding: 20px; width: 100%;}
.footer span{text-transform: uppercase;}
