.navbar {position: fixed;
		top:0;
		background-color: #343434;
		background-image: url("img/hd.gif");
		background-position: center top;
		z-index: 3;
		background-repeat: repeat-x;
		border: medium none;
		border-radius: 0;
		margin: 0;
		text-transform: uppercase;
		@include trans(700ms);
		width: 100%;
			@include bp-medium {
				background-image:none;
				background-color: #444;
			}
			@include bp-xlarge {
				height:92px;
			}
			.avatar {height: auto;
				pointer-events: none;
				position: absolute;top: 0; vertical-align: middle; width: 26px;  right: 62px; z-index: 1;
				@include bp-medium { right: 0; }
			}
			i, .glyphicon {font-style: normal;font-size: 1rem; line-height: 1rem; font-family: $iconfont;-moz-osx-font-smoothing:grayscale;margin-right: 7px;}
			.glyphicon {
				&.members:before {content: $icon-members;}
				&.groups:before {content: $icon-groups;}
				&.forums:before {content: $icon-forums;}
				&.lounge:before {content: $icon-studio;}
				&.classifieds:before {content: $icon-classifieds;}
				&.donate:before {content: $icon-donate;}
			}


			.dropdown-menu i {float:right;}
			.notifications span {background:#ff7d7d; border-radius: 100px; color: #000000; display: inline-block; line-height: 21px; min-width: 21px; padding: 0 7px; text-align: center;@include text-shadow(none);}
			.navbar-form {margin:0;line-height: 0;
				button, input[type=text]{height: 70px;line-height: 70px;padding: 0 10px;}
				input:active, input:focus {color: #000;}
			}
			#mainmenu { float:right;
				@include bp-medium {
					width: 50%;
				}
				@media screen and (min-width: $mediumbreak + 1) {
					max-height:30px;
					width: 100%;
					line-height: 30px;
					&> ul {background: url("img/nav.gif") no-repeat scroll left top / 100% 100% rgba(0, 0, 0, 0); margin-left:0; padding:0 35px;}				
				}

				li.dropdown .dropdown-menu {overflow: visible}
				.open > a:after {background: none repeat scroll 0 0 #ffffff;
					content: "";
					display: block;
					height: 20px;
					position: absolute;
					right: 20px;
					bottom: -18px;
					transform: rotate(45deg);
					width: 20px;
					z-index: 1; }
			} /*end main*/





			.navbar #submenu li a {
				line-height: 48px;
				padding: 0 10px;}

				#submenu {
					width: 75%;

					&> ul {width: 100%; margin:0;
						&> li {width: 16.6%; float:left;}
					}

					li a {line-height: 18px; position: relative; text-align: center; display: block;}
					i, .glyphicon {font-size:1.5rem;}
					@include bp-medium {width:100%;
						li a {line-height: 40px;}
					}
					@include bp-small {
						li a {font-size: .6rem;}
					}
				}
				.navbar-header {line-height: 0;}
				#details { line-height: 0; height: 0; 
					.row {line-height: 0; height: 0; 
						* {color:#fff; }
					}
					&.animated {height: auto;
						.row {line-height: 46px; height: 46px;}
					}
				}
				&.loading {@include box-shadow(0 3px 0 rgba(32, 214, 167,0.5), 0 3px 30px rgba(32, 214, 167,0.5));}
			}


			.navbar-nav > li > a {font-size: .9rem;}
			.navbar h1{margin:0;}
			.navbar-inverse .navbar-brand { 
				color: #282826;
				font-size: 1.2rem;
				font-weight: 300;
				height: 38px;
				letter-spacing: -2px;
				line-height: 0;
				margin: 0;
				max-width: 100%;
				padding: 0;
				&.logo {background: url('img/bonoboville-skinny-logo.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);width: 25%; background-size: contain;
				@include bp-medium {
					background-position: left center;
					width: 50%;
					background-size:unset;
				}
				
			}
		}
	.logo.title {background: url('img/bonoboville-gold-logo.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		color: #282826;
		font-size: 1.2rem;
		font-weight: 300;
		height: 24px;
		letter-spacing: -2px;
		line-height: 0;
		margin: 0;
		max-width: 100%;
		padding: 0;
		width: 176px;}
	.logo.bonobo {background: url('img/bonoboville-gold-logo.png') repeat scroll 0 0 rgba(0, 0, 0, 0);
		color: #282826;
		font-size: 1.2rem;
		font-weight: 300;
		height: 24px;
		letter-spacing: -2px;
		line-height: 0;
		margin: 0;
		max-width: 100%;
		padding: 0;
		width: 176px;}
.navbar-inverse .navbar-nav > li > a {color:#c6c6c6;font-weight: 300;outline: 0 !important;@include text-shadow(0 -2px 0 #303030);
	&:hover{color:#fff;background:transparent;}
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus { background:none;}

body.init {
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {@include box-shadow(0 -3px 0 $banana inset, 0 -30px 30px -30px #202020 inset);@include text-shadow(0 -2px 0 #303030);background:none;}
}

.navbar-sub{background: #343434; @include box-shadow(0 0 6px #bbc9ca, 0 1px 0 #242424 inset, 0 2px 0 #434343 inset);}
