
$myrad : 5px;
$green : #4283ab;
$blue : #00b570;
$blue1 : #b9c6ce;



@mixin border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

@mixin border-radius($rad1, $rad2:false, $rad3:false, $rad4:false) {
 $params: $rad1;
  @if $rad2 
    { $params: $rad1, $rad2; }
    @if $rad3 != false
      { $params: $rad1, $rad2, $rad3; }
      @if $rad4 != false
        { $params: $rad1, $rad2, $rad3, $rad4; }
        
  -webkit-border-radius: $params;
  -moz-border-radius: $params;
  border-radius: $params;
}




@mixin box-shadow($shadow1, $shadow2:false, $shadow3:false, $shadow4:false, $shadow5:false, $shadow6:false, $shadow7:false, $shadow8:false) {
 $params: $shadow1;
  @if $shadow2 
    { $params: $shadow1, $shadow2; }
    @if $shadow3 != false
      { $params: $shadow1, $shadow2, $shadow3; }
      @if $shadow4 != false
        { $params: $shadow1, $shadow2, $shadow3, $shadow4; }
        @if $shadow5 != false
          { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5; }
           @if $shadow6 != false
                { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5, $shadow6; }
                @if $shadow7 != false
                  { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5, $shadow6, $shadow7; }
                  @if $shadow8 != false
                    { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5, $shadow6, $shadow7, $shadow8; }
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

@mixin text-shadow($shadow1, $shadow2:false, $shadow3:false, $shadow4:false, $shadow5:false) {
 $params: $shadow1;
  @if $shadow2 
    { $params: $shadow1, $shadow2; }
    @if $shadow3 != false
      { $params: $shadow1, $shadow2, $shadow3; }
      @if $shadow4 != false
        { $params: $shadow1, $shadow2, $shadow3, $shadow4; }
        @if $shadow5 != false
          { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5; }

  -webkit-text-shadow: $params;
  -moz-text-shadow: $params;
  text-shadow: $params;
}

@mixin animate($numb, $numb2, $numb3, $numb4){-moz-animation-duration: $numb2;
 -moz-animation-delay: $numb3;
 -moz-animation-iteration-count: $numb4;
 -moz-animation-name: $numb;
 -o-animation-duration: $numb2;
 -o-animation-delay: $numb3;
 -o-animation-iteration-count: $numb4;
 -o-animation-name: $numb;
 animation-duration: $numb2;
 animation-delay: $numb3;
 animation-iteration-count: $numb4;
 animation-name: $numb;
}
@mixin trans($numb){-webkit-transition:all $numb ease-in-out;
     -moz-transition:all $numb ease-in-out;
       -o-transition:all $numb ease-in-out;
          transition:all $numb ease-in-out;}
@mixin delay($numb) {
   -moz-animation-delay: $numb !important;
 -o-animation-delay: $numb !important;
 animation-delay: $numb !important;

}

@mixin tabs($color1){height: 60px; opacity: 0.6; padding: 14px 30px; @include trans(500ms); width: 100%;
        &:hover {opacity: 1;}
        ul {@include box-shadow(0 0 0 2px $color1 inset); @include border-radius(200px); display: inline-block; height: 35px;
            a {@include trans(100ms); line-height: 35px; padding: 0 10px; color:$color1; font-size: 14px;
                span {background: $color1 !important;
                border-color: #ffffff !important;
                color: #ffffff !important;
                line-height: 0;
                position: relative;
                top: -2px;}
            }
            li {
                &:first-child a{@include border-radius(200px 0 0 200px); padding-left:13px;}
                &:last-child a{@include border-radius(0 200px 200px 0); padding-right:13px;}
                &:first-child:last-child a{@include border-radius(200px !important);}
            }
            li.current, li.selected {
                a {background:$color1 !important; color:#fff !important; @include border-radius(0); opacity: 1 !important;}
                &:first-child a{@include border-radius(200px 0 0 200px);}
                &:last-child a{@include border-radius(0 200px 200px 0);}
            }
            li a:hover {background:transparentize($color1,.8); color:$color1;}
        }
}

@mixin tabs2($color2){padding: 0; @include trans(500ms); width: 100%; margin-bottom: 20px; @include box-shadow(0 0 3px #b0b0b0);
        ul {display: table; width:100%; height: 35px;
            a {@include trans(100ms); line-height: 35px; padding: 0 10px; color:$color2; font-size: 14px;
                span {background: $color2 !important;
                border-color: #ffffff !important;
                color: #ffffff !important;
                line-height: 0;
                position: relative;
                top: -2px;}
            }
            li {float:none; display: table-cell; text-align: center;}
            li.current, li.selected {
                a {background: rgba(0, 0, 0, 0) !important; @include box-shadow(0 -3px 0 $color2 inset); color: $color2 !important; font-weight: 400; @include border-radius(0); opacity: 1 !important;}
            }
            li a:hover {background:transparentize($color2,.8); color:$color2;}
        }
}
@mixin nav {
  background:#454545;
  li a {background: none repeat scroll 0 0 #656565;
    @include border-radius($myrad);
    color: #bfbfbf;
    margin: 0 0 4px;
    padding: 10px !important;
    border-bottom-color:#707070;
    &:hover {text-decoration:none; background:#777;}}
}





@import "css/bootstrap"