.sidebar{float:left; padding:0; margin-bottom: 60px;
	&:after {
    background: url('img/bonobos.png') no-repeat scroll center center rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    content: ".";
    display: block;
    height: 30px;
    margin-top: 20px;
    opacity: 0.2;
    text-align: center;
    margin-bottom: -40px;
    width: 100%;}
	* {@include trans(200ms);}
}
.sidebar {
	.widget{padding:7px; @include border-radius(0); margin-bottom: 1px;
	&.widget_bp_core_login_widget {border-left: 3px solid $yale;}
		/*basic styling*/
		&:last-child:first-child {@include border-radius($myrad);}
		h3{text-transform: uppercase;font-weight:700;font-size: .9rem;margin-top: 7px;color: #6f6f6f;}
		ul{padding:0;list-style-type: none;}

		/*links*/
		.menu { position: relative;
			li a {display: block !important;
				i {opacity: 0; float:right;}
				&:hover i {opacity: 1;}
				
			}
		}
		.avatar-block {overflow: visible;}
	    .item-avatar {position: relative;display: inline-block;
	    	a {border-bottom: none; padding: 0;
	    	 /*&:hover {@include werd(attr(title));}*/
	    	}
		}

		/*widget specific*/
		&.focus {border: 3px solid #62e2cd; padding: 20px;}
		&.widget-tabs {padding:0;}

		/* sidebar tabs */
		.tab-spacer{padding:0 10px 0 10px;}
		.tab-content{border: medium none !important; z-index: 2; position: relative; @include border-radius(0 0 $myrad $myrad !important); @include box-shadow(0 4px 7px 0 #a0a0a0); float: left; margin-bottom: 0 !important; padding: 5px 0; text-decoration: none; width: 100%;}

		.nav-tabs.nav-justified {
			.active a {background:#eeeeee; border-left:none; border-right:none; border-bottom:none;  border-top: 3px solid $green !important; @include box-shadow(0 0 9px 1px #a0a0a0); z-index: 1; position: relative;}
		}
		.tab-content a {float:left;padding: 10px;width: 100%;border-bottom:1px solid #dfdfdf;text-decoration: none;
			&:hover {background:#e2e2e2;}
			.date {font-size: .8rem;}
		}
		.tab-content a:last-child{border:none;}
		.tab-content img{float:left;margin:0 10px 0 0px;padding:0;width:40px;height:40px;border:0; @include border-radius(0);}
		.tab-content .title{ margin: 5px 0 0 0;color:#000;text-transform: uppercase;font-weight: 400;font-size:1rem;}


		&.widget_bp_core_login_widget {
			h3 {display: none;}
			a {
				&.logout {color: #8f8f8f; font-size: .8rem;}
			}
		}
		&.buddypress {
			.bp-login-widget-user-avatar {width: auto;
			a {padding:0;} }
			.bp-login-widget-user-links > * {padding-left: 0; margin:0;}
			.bp-login-widget-user-links a {border-bottom: medium none; display: block; line-height: 25px !important; padding: 0 15px; text-indent: 12px; font-size: .8rem;}
		}

		
		/*social login*/
	    .btn {
	        &:before {border-right: 1px solid rgba(255, 255, 255, 0.2); margin-right: 7px; padding-right: 7px; position: relative;
	        	-moz-osx-font-smoothing: grayscale;  content: ""; font-family: $iconfont; 
	            @include text-shadow(2px 1px 0 rgba(0, 0, 0, 0.1)); top: -2px; vertical-align: middle;}
	        &:after {@include text-shadow(2px 1px 0 rgba(0, 0, 0, 0.1)); }
	        &:hover {opacity: 0.8; text-decoration: none;}
	    }
	    .bblogin-dv:after {content: " Sign In with Facebook"; display: inline-block; }
	    .bblogin-rq:after {content: " Sign In with Twitter"; display: inline-block; }
	    .bblogin-rq:before {-moz-osx-font-smoothing: grayscale; content: ""; display: inline-block; font-family: $iconfont; }
	    .bblogin-rq {background: #51b6f7; color: #ffffff; }
	    .bblogin-dv {background: #5b71ad; color: #ffffff; }
	    
	} /*end widget*/

	.item-options {text-align: center;}
	.widget_bp_core_members_widget {
		 padding: 0;
		 h3 {margin: 14px 7px 7px;}
		#members-list li {display: inline-block;
		    text-align: center;
		    vertical-align: top;
		    width: 32%;
			.vcard {
				.activity {display: none !important; }
				.avatar.avatar-50.wp-user-avatar.wp-user-avatar-50.photo.avatar-default {margin: 0; }
				a {font-size: 0.8rem;}
			}
			.activity {display: none;}
		}
		.item-title.fn > a {font-size: 0.7rem; color: #000; font-weight: bold; }

	}
	/*abedit remove*/
	.social{float:left;margin: 20px 0 30px 0;width: 100%;}
	.social a{display: block;float:left;padding:10px;}


} /*end sidebar*/


/* Secondary Sidebar */
.sec-sidebar{
	
}
.sec-sidebar .widget{
	ul{padding:0;list-style-type: none;}
}
