body.registration {
	&> .sidebar:after {background-image:none !important;}
	.row {max-width: 880px; }
	.navbar.navbar-inverse.navbar-fixed-top {
    background: none repeat scroll 0 0 #6d6d6d;
    margin: 0 auto;
    max-width: 100%;
    position: relative !important; }
.navbar-header {text-align: center; }
.navbar-header a {display: inline-block; padding: 40px 10px 20px !important; max-width: 100%;}
}

body.single-product {
	.kgvid_wrapper_inline_left {margin: 0; }
	.kgvid_wrapper {margin:0; line-height: 0}
	.kgvid_wrapper_inline_left video {height: auto; width: 100% !important; }
	.vjs-poster {position: absolute; top: 0; width: 100%; z-index: 0; }
	.video-js .vjs-tech {position: relative;}
	.video-js {height: unset !important; line-height: 0 !important; max-width: 100%; min-width: 100% !important; width: 100% !important; }
	.sing-tit-cont, .sing-cont {background-color:#ffffff; margin:10px 0; padding:10px; width: 100%;}
	.sidebar .widget:first-child {margin-top:0;}
	.videoWrapper {
		.button.alt {
		    @include border-radius(100px);
		    font-size: 4em;
		    height: 70px;
		    left: 50%;
		    line-height: 0;
		    margin-left: -35px;
		    margin-top: -35px;
		    padding: 0;
		    position: absolute;
		    top: 50%;
		    width: 70px;
			i {line-height: 0; position: relative; right: -5px;}
		}
	}
}


.buddyb {
	.sing-spacer {padding:10px;}
	.sing-cont {background:#fff; @include border-radius(0 0 $myrad $myrad ); width: 100%;
    margin: 0 !important;
    padding: 0 !important;}
    .sing-tit-cont {
    display: inline-block;
    font-size: 20px;
    line-height: 60px !important;
    margin: 0 !important;
    padding: 0 10px !important;
	background:rgb(244, 244, 244); width: 100%; 
		* {line-height: 60px; margin: 0; }
		h3 {z-index: 1; position: relative;}
	}	
	.single-in {@include border-radius($myrad $myrad 0 0); overflow: hidden;}

}



body.registration {
	.navbar-sub {display: none;}
	.single {background: rgba(0,0,0,.6);color:#fff;}
	.sing-tit-cont {margin:0 auto; width: 100%; background:none; text-align: center;}
	.wp-social-login-provider > img {display: none; }
	.wp-social-login-provider.wp-social-login-provider-facebook:after {content: " Sign In with Facebook"; display: inline-block; }
	.wp-social-login-provider.wp-social-login-provider-twitter:after {content: " Sign In with Twitter"; display: inline-block; }
	.wp-social-login-provider.wp-social-login-provider-twitter:before {-moz-osx-font-smoothing: grayscale; content: ""; display: inline-block; font-family: icomoon; }
	.wp-social-login-provider.wp-social-login-provider-twitter {background: #51b6f7; color: #ffffff; }
	.wp-social-login-provider.wp-social-login-provider-facebook {background: #5b71ad; color: #ffffff; }
	.wp-social-login-provider.wp-social-login-provider-facebook:before {-moz-osx-font-smoothing: grayscale;  content: ""; font-family: icomoon; }
	.wp-social-login-provider { @include border-radius($myrad); @include box-shadow(0 -20px 20px -20px rgba(0, 0, 0, 0.7) inset); font-size: 18px; padding: 10px; 
		&:before {border-right: 1px solid rgba(255, 255, 255, 0.2); @include box-shadow(1px 0 0 rgba(0, 0, 0, 0.1)); font-size: 24px; line-height: 18px; margin-right: 4px; padding-right: 7px; position: relative;
			@include text-shadow(2px 1px 0 rgba(0, 0, 0, 0.1)); top: -2px; vertical-align: middle;}
		&:after {@include text-shadow(2px 1px 0 rgba(0, 0, 0, 0.1)); }
		&:hover {opacity: 0.8;}
	}

}




/*
#buddypress .comment-reply-link, 
#buddypress a.button, 
#buddypress button, 
#buddypress div.generic-button a, 
#buddypress input[type="button"], 
#buddypress input[type="reset"], 
#buddypress input[type="submit"], 
#buddypress ul.button-nav li a,
a.bp-title-button {background: #ffff00 !important;
    border: medium none !important;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.7) inset;
    font-size: 13px !important;
    padding: 10px 15px !important;}*/