body {background-image: url("img/congruent_outline.png"); 
	&.page-template-page-no-sidebar, &.page-template-page-promo-finish, &.registration {background: #e1e5e7; }
}
body.page-template-page-no-sidebar, body.page-template-page-promo-finish {
	.sing-tit-cont {text-align: center;
		h3 {margin: 0; display: inline-block;}
	}
	.single-in {background-color: #fbfbfb;}
}
body.page-template-page-no-sidebar {
	.sing-tit-cont {height: 400px;
    margin-bottom: -340px;}

	.fund { margin: 30px auto 0; max-width: 480px;
		&> * {width: 46%; margin: 0px 2% 1%; height: 200px; float: left; text-align: center; background-color: rgba(245, 244, 245,0.9); @include border-radius($myrad * 2); padding: 20px 0px; border:solid 2px $banana;}

		&> *:hover {border-color:$green;}
		input {max-width: 100%;}
	}
	.wrap .single {@include trans(1000ms); }
}

body.page-template-page-promo-finish {
	h3 {font-family: Open Sans Condensed; font-size: 2.5rem; color:$go;}
	.single {background:#fff;}
	.sing-cont {@include box-shadow(0 -34px 50px -75px #000);}
	.thanks .col-md-4 i {
    background: none repeat scroll 0 0 #dddddd;
    border-radius: 100px;
    box-shadow: 0 0 0 3px #c0c0c0;
    font-size: 2rem;
    margin-right: 7px;
    padding: 15px;
	}
}







body.single-product {.kgvid_wrapper_inline_left {margin: 0; }
.kgvid_wrapper {margin:0; line-height: 0}
.kgvid_wrapper_inline_left video {height: auto; width: 100% !important; }
.vjs-poster {position: absolute; top: 0; width: 100%; z-index: 0; }
.video-js .vjs-tech {position: relative;}
.video-js {height: unset !important; line-height: 0 !important; max-width: 100%; min-width: 100% !important; width: 100% !important; }
.sing-tit-cont, .sing-cont {background-color:#ffffff; margin:10px 0; padding:10px; width: 100%;}
.sidebar .widget:first-child {margin-top:0;}
.videoWrapper {.button.alt {@include border-radius(100px); font-size: 4rem; height: 70px; left: 50%; line-height: 0; margin-left: -35px; margin-top: -35px; padding: 0; position: absolute; top: 50%; width: 70px; i {line-height: 0; position: relative; right: -5px;}
}
}
}
.how > i {font-size: 3.4rem; padding:30px; background:$green; display: inline-block; color:#fff; @include border-radius(300px);}
.bps_header {display: none;}
.quick-chat-linkhome > a {display: none; }
#blogroll {background: none repeat scroll 0 0 #efefef; overflow: hidden; padding: 17px; .item {display: block; float: left; font-size: 0.8rem; height: 35px; margin-bottom: 10px; overflow: hidden; vertical-align: top; width: 20%; }
img {float: left !important; margin: 0 10px 0 0; max-width: 35px; }
p {color: rgba(0, 0, 0, 0) !important; font-size: 0; margin: 0; }
.item.ready:nth-child(5n+1) {clear: left !important; }
#ex > a {display: none; }
}

#loader {background: none repeat scroll 0 0 #e1e5e7;
    height: 100vh;
    padding: 20% 0;
    position: fixed;
    text-align: center;
    @include trans(1000ms);
    top: 0;
    width: 100%;opacity: 1;
    z-index: 2;
    img {@include trans(800ms);}
}

/*partials*/
.btn-drop {z-index: 1;
.accordian {max-height: 0px; overflow: hidden; }
}
.js {
	.btn-drop {position: relative; width: 100%; border-bottom: solid 1px #e0e0e0; h3 {cursor: pointer;}
		&:before {content:$icon-plus; font-family:$font-icon; @include border-radius(100px); border:solid 1px $yale; float:left; font-size: 1rem; top:0; margin-right:10px;cursor:pointer; width:28px; height:28px; text-align: center;}
		&.open:before {content:$icon-minus;}
		.accordian {max-height: 0px; overflow: hidden; 
			&> ul {margin: 0;} }
		&.open .accordian {max-height: 1000px;}
	}
	#loader {opacity: 0; padding: 0 0; height: 0;
		img {opacity: 0; width: 0;}
	}
}

.sticky {border-right:3px solid #eee;border-bottom: 3px solid #eee }
.wp-caption {border: 1px solid #eee;text-align: center;padding: 10px;}
.wp-caption img {margin: 0;padding: 0;border: 0 none;width:100%!important;height:auto;}
.wp-caption p.wp-caption-text {font-size: 1rem;line-height: 17px;padding: 8px;margin: 0;}
/* only in home caption full width */ .cont-grid .wp-caption {max-width:100%;width: 100% !important;height:auto;}
.alignleft{float:left;margin-right: 20px;}
.alignright{float: right;margin-left: 20px;}
.aligncenter{margin:  0 auto;display: block}
#s{width: 100%}
#searchsubmit{background-color: #333;color:#fff}
/* Search */ .result{margin-left:5px;text-transform: uppercase;}
#srch-term{border:none;background:none;@include box-shadow(none);}
.search-cont{padding:0;}
.btn-default[type=submit]{@include btn(#ddd,#888,$myrad);}
/*searchbar*/
.gsc-search-button {
	&:before {color: #ffffff; content: $icon-search; font-family: $font-icon; font-size: 1.250rem; line-height: 30px; margin-top: 0 !important; position: absolute; text-align: center; width: 100%; z-index: 1; }
}
.gsc-control-cse.gsc-control-cse-en {padding:0; border:none;}
.gsc-results-wrapper-visible {padding:10px 0; margin-bottom:10px;}
.gsc-search-box {position: relative; }
input.gsc-input {background: none repeat scroll 0 0 #333333 !important; border-color: #6d6d6d !important; line-height: 30px; color: #fff; }
.gsc-search-button * {border: 1px solid #dddddd !important; height: 30px !important; line-height: 30px !important; width: 33% !important; }
.gsc-search-button {position: relative; }
.gsc-search-button .gsc-search-button {background: none repeat scroll 0 0 #9040af; border: medium none !important; border-radius: 7px; color: rgba(0, 0, 0, 0); margin: 0; }
.gsc-input {padding-right: 0 !important; }
.gsc-input .gsc-input {background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important; border-radius: 7px 0 0 7px; border-right: 0 none; padding: 0; width: 100%; }
.gsc-search-box {margin: 6px 0 0 20px; }
.woocommerce {
	.button.wc-backward {@include border-radius($myrad !important); border:solid 2px $green !important;}
	.button.add_to_cart_button, input.button[type="submit"] {@include btn($green, $myrad, #fff);}
}
#invite-anyone-by-email textarea {padding: 0 10px; width: 100%; }




#pmpro_levels_table {background:transparent !important; max-width: 100%; width: 100%;
	* {@include ani(300ms);}
	&> tbody {
		&> tr {@include border-box; margin: 0; overflow: hidden; padding: 0; position: relative; margin-bottom: 20px;
			
			&> td { font-size: 2rem; font-weight: 100; padding: 20px !important;
				a {@include btn(#9d9d9d,$myrad, #fff); display: block !important; opacity: 0; }
				strong {font-weight: 100;}
			}
			&:hover { background:rgba(255,255,255,.8);
				&> td {
					.pmpro_btn {@include btn($green,$myrad,#fff); opacity: 1;}
				}
			}
			&.odd > td {background:transparent;}
			&> td:nth-child(2) strong {
			    font-family: arial !important;
			    font-size: 1rem;
			    text-transform: unset !important;
			}
		}
		&> tr.active {
			td {background:transparent;}
			strong {font-weight: 300;}
			a {@include btn($banana, $myrad, rgba(0,0,0,.8))}
			&:hover .pmpro_btn {@include btn($banana, $myrad, rgba(0,0,0,.8)); opacity: 1;}
		}
	}
}


/* #buddypress .comment-reply-link, #buddypress a.button, #buddypress button, #buddypress div.generic-button a, #buddypress input[type="button"], #buddypress input[type="reset"], #buddypress input[type="submit"], #buddypress ul.button-nav li a, a.bp-title-button {background: #ffff00 !important; border: medium none !important; box-shadow: 0 20px 30px rgba(255, 255, 255, 0.7) inset; font-size: .813em !important; padding: 10px 15px !important;}
*/