@import "partials";
@import "eq";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {border: 0 none; font-size: 100%; margin: 0; padding: 0; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
body {line-height: 1; overflow-x:hidden;}
ol, ul {list-style: outside none none; }
blockquote, q {quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {content: none; }
table {border-collapse: collapse; border-spacing: 0; }
html {background: none repeat scroll 0 0 #000000; }
* {box-sizing: border-box; }
h3 {color: #fff; font-family: arial;}
a {color: lighten($color,10%); font-family: arial; }

/*specials*/
#loadingbar {background: -moz-linear-gradient(center top , $color, lighten(adjust-hue($color,20%),20%)) repeat scroll 0 0 rgba(0, 0, 0, 0); bottom: 0; height: 5px; opacity: 0; overflow: hidden; position: absolute; transition: all 1s ease-in-out 0s; width: 100%; z-index: 10; }
#loadingbar.fadeed {opacity: 1; }
 #header, #content, #footer{ @include trans(1s);}
.loading {
    #header, #content, #footer {
    opacity: 0;}
}




/*header*/
#header {@include box-shadow(0 15px 10px -10px rgba(0, 0, 0, 0.4) inset); pointer-events: none; display: block; height: 47px; line-height: 37px; padding: 5px; position: fixed; text-align: left; top: 0; width: 100%; z-index: 11; }
#header *, .actions * {transition: all 100ms ease-in-out 0s; }
#header ul { pointer-events:none; width: 100%;
        li { display:inline-block; pointer-events:auto;
            &:first-child {float:left;}
            a {border: 1px solid rgba(0, 0, 0, 0); padding: 5px; color:#fff; text-decoration: none;}
        }
}
#header ul li a:hover {border: 1px solid #aaaaaa; color: #ffffff; }
#header ul {display: inline-block; float: right; text-align: right;}
#header .container {padding: 0 10px;}
#nowplay {height:47px; line-height: 47px; color:#fff; font-size:.8rem; font-weight:normal; font-family: "PT Sans Caption",Arial, sans-serif; width: 100%;cursor:pointer;
    &:hover {text-decoration:underline;}
}


/*content-player*/
.container {margin: 0 auto;max-width: 780px;}
#content {background: none repeat scroll 0 0 #b2b2b2; box-sizing: border-box; display: block; height: 100vh; left: 0; max-height: 100%; min-height: 100%; opacity: 1; overflow: hidden; text-align: center; top: 0; width: 100%; z-index: 2; }
#content > * {display: none;
    transition: 1s ease;
    display: block;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.radio {
    #content > .home {
      margin-left: -100%;
    }
    #content > .radio {
      margin-left: 0%;
    }
    #content > .upload {
      margin-left: 100%;
    }
    #content > .bonobo {
      margin-left: 200%;
    }
}
.home {
    #content > .home {
      margin-left: 0;
    }
    #content > .radio {
      margin-left: 100%;
    }
    #content > .upload {
      margin-left: 200%;
    }
    #content > .bonobo {
      margin-left: 300%;
    }
}

.upload {
    #content > .home {
      margin-left: -200%;
    }
    #content > .radio {
      margin-left: -100%;
    }
    #content > .upload {
      margin-left: 0%;
    }
    #content > .bonobo {
      margin-left: 100%;
    }
}
.bonobo {
    #content > .home {
      margin-left: -300%;
    }
    #content > .radio {
      margin-left: -200%;
    }
    #content > .upload {
      margin-left: -100%;
    }
    #content > .bonobo {
      margin-left: 0%;
    }
}


#content .selected.radio, #content .radio, #content .selected.home, #content .home {height: 100vh; overflow: auto; padding: 0; }
#content > .radio {display: block; }
#content > .upload.selected {background: #f5f5f5;}
#content > .unselected, #content > .radio.unselected {height: 0; opacity: 0; padding: 0; position: relative; width: 0; z-index: 1; }
#content > .selected {display: block; min-height: 100vh; }
#content .container #header ul li a {border: 1px solid rgba(0, 0, 0, 0); border-radius: 10px; padding: 5px; text-decoration: none !important; }


/*panels*/
#tracklist, #brief {bottom: 0;
    height: 465px;
    left: 0;
    max-width: 300px;
    position: absolute;
    z-index: 1;
    background: desaturate(lighten($color,1%),50%);
    &.on {z-index: 2;}
}
#artwork {
    z-index: 1;
    &.on {
        z-index: 3;
    }
}


.bar {line-height:35px; font-family:Arial, sans serif; display:block; background:$color2; text-align: left;
    .bar-prev {
    position: relative;
    transform: rotate(180deg) !important; border-right: 1px solid #dddddd;}
    div {display: inline-block; padding:0 10px;}
    div.swiper-button-disabled {opacity: .5;}
    &> div:nth-child(n+2) {
    float: right;}
    .bar-next {border-left: 1px solid #dddddd;}
}

.descriptionfield img {float: left !important; margin-right: 30px; }
p {font-family: lato;
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 20px;
    text-align: left;}
#sites li {border: 0 none; display: inline-block; float: left; margin: 0; text-align: center; }
#sites i {margin-right: 5px; }

#advertisement {background: none repeat scroll 0 0 #7f7f7f; left: 0; opacity: 0; pointer-events: none; position: absolute; text-align: center; top: 0; transition: all 1s ease-in-out 0s; vertical-align: middle; width: 100%; z-index: 2; }
#advertisement.fadeed {opacity: 1; pointer-events: auto; z-index: 9; }
#info {display: block; margin: 0 auto;background-color:desaturate(darken($color,6%),50%); max-width: 780px; height:580px; overflow: hidden; position: relative; width: 100%;@include box-shadow(0 0 0 10px desaturate(darken($color,6%),50%), 0 -300px 200px -300px $color inset) }
#artwork {float: left; height: 200px; left: 0; position: absolute !important; top: 0; width: 200px; }
#artwork #img {z-index: 1; display: block; padding:3px; height: 200px; width:100%; position: absolute; left: 0; opacity: 1; top: 0;
    &> img {max-height: 100%;
    max-width: 100%; width: 100%;
    min-height: 100%;}
}


.nav {height: 67px; width: 100%; position:relative; z-index: 10;background-color:desaturate(lighten($color,1%),50%); 
    i {bottom: -3px; position: relative; }
    .prev {position: relative; transform: rotate(180deg) !important;}
    &> div {color: $color2; cursor: pointer; display: inline-block; z-index: 10; line-height: 67px;
        &.prev a, &.next a {display: inline-block;height: 50px; line-height: 40px;}  
    }
    &> div#mini-art {background-color:rgba(0,0,0,0.1); height: 67px; padding: 5px; position: absolute; right: 0; top: 0;
        img {border: medium none !important; height: 57px; width: 57px;}
    }
    &> div:hover {color:#fff; }  

    &> div > a {
        @include box-shadow(0 0 0 5px rgba(0,0,0,0), 0 0 3px 2px rgba(0,0,0,0), 0 0 2px 0 rgba(0,0,0,0));
        @include border-radius(100px);color: #ffffff;overflow: hidden !important;
        padding: 3px;
        position: relative; vertical-align: middle;
        text-decoration: none;
        z-index: 9;
        border: 1px solid transparent;
        @include trans(200ms);
        
        &:hover:active {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
            border: 1px solid rgba(255,255,255,.5);
            @include box-shadow(0 0 0 5px rgba(0, 0, 0, 0.3), 0 0 3px 2px rgba(255, 255, 255, 0.3), 0 0 2px 0 rgba(0, 0, 0, 0.8));
        }
        &:hover {
            border: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
}
#play {
    font-size: 2rem;
    @include text-shadow(0 1px 0 #000000);
}
#play i {display: inline-block; height: 41px !important; line-height: 30px !important; vertical-align: middle; }
#play.notfadeed {opacity: 1; }
#play.fadeed {opacity: 0; pointer-events: none; }
#play .ico-pause {margin-left: 3px !important; margin-right: 2px !important; }
#embedcode {align-items: center;
    background: rgba(0,0,0,.8) none repeat scroll 0 0;
    display: flex;
    height: 100%;
    justify-content: center;
    color:#fff;
    font-family: arial,sans-serif;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    z-index: 5;
    h1 {margin-bottom: 10px;}
}


.clear {clear: both; display: block; height: 1px; overflow: hidden; width: 100%; }

.swiper-container {
    .swiper-wrapper {
        .track {-moz-osx-font-smoothing: grayscale;color: #6a6a6a; float: left; font-family: "Open Sans Condensed" !important; font-size: 2rem; font-weight: 700 !important; letter-spacing: -2px; text-align: right; text-transform: uppercase; width: 160px;}
        .artistname {-moz-osx-font-smoothing: grayscale; clear: both !important; color: #ffffff; display: block; float: left; font-size:1rem; font-family: "Paytone One",sans-serif; font-weight: lighter !important; text-align: right; text-transform: uppercase; width: 160px; }
        .fadeed {opacity: 0; }
        .swiper-slide img {height: auto; width: 100%; }
        .swiper-slide a.button { display: block !important; margin: 0 0 10px !important;}
        .button {@include btn($color2,$butt,#000);}
        .button.buy {@include btn($color,$butt,#fff);}
        .avatar.avatar-32 {float:none;clear:both;width: 32px; }
    }
}

.swiper-container.playlist {
    margin: 0 !important;
    width: 100% !important;
    .swiper-slide {background:lighten(desaturate($color2,3%),3%); height: 40px; width: 100%; @include box-shadow(0 -1px 0 darken(desaturate($color2,50%),10%) inset); overflow: hidden;}
    .swiper-slide > strong { @include border-box;
    cursor: pointer;
    display: table-cell;
    font-family: arial,sans-serif;
    font-size: 0.9rem;
    height: 40px;
    max-height: 40px;
    overflow: hidden;
    padding-left: 48px;
    text-align: left;
    vertical-align: middle;
    width: 320px;
        &:active, &:focus, &:hover {background:#fff}
    }
    .swiper-slide > div {
        background-color:#ffffff;
        float: right;
        font-family: lato;
        height: 40px;
        line-height: 40px;
        padding: 0 19px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;cursor: pointer;
        border-left: solid 1px darken(desaturate($color2,50%),10%); border-bottom: solid 1px darken(desaturate($color2,50%),10%);
        &:active, &:focus, &:hover {@include box-shadow(0 0 10px -1px darken(desaturate($color2,50%),10%) inset); color:darken(desaturate($color2,50%),10%);}
    }
    .swiper-slide .thumb {background-size: contain !important; display: table-cell; height: 40px; left: 0; right: auto; width: 40px;}
}

.swiper-container.coverflow {
    .swiper-slide {  display: flex; align-items:center;
        .album {width:110px; height:110px; position: absolute;top: 10px;right: 10px; background-size: contain !important;}
    }
}

.swiper-container.fade{
    .swiper-wrapper .swiper-slide {background-color:$color2; padding:10px 0;}
    .scroll {display: block !important;
    height: 240px;
    text-align: left;
    font-size: 1rem;
    line-height: 1.3rem;
    max-width: 100%;
    font-family: lato;
    overflow: auto;
    position: relative;
    width: 100%;padding:3px 20px;
        li:nth-child(2n) {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
            border-top: 1px dotted rgba(0, 0, 0, 0.3);
        }
        li {padding: 14px 10px; }
    }
    iframe {height: auto; max-width: 100%;}
    .scroll img {height: auto !important; max-width: 100%; min-width: 100%; }
    .wp-caption.alignnone {max-width: 100%; }
}



/*footer*/
#footer {background: none repeat scroll 0 0 #e0e0e0; bottom: 0; clear: both; display: block; position: fixed; text-align: center; width: 100%; z-index: 3; }
#footer .container ul {display: flex; flex-flow:row wrap;
                    li {flex-grow:1;display: flex;}
}

#player { height: 0; overflow: hidden; text-align: left;}



/*small*/
.bp-lg {
    #artwork {height: 480px; width: 480px !important; bottom: 0 !important;
        left: auto;
        position: absolute;
        right: 0 !important;
        top: auto;
        z-index: 2;
    #img {height: 480px; width: 480px;}}
    .fade {height: 278px !important; }
    &.phone {
        #artwork {width: 100%;}
    }
    .playlist {float: left;
        left: 0;
        margin: 0 !important;
        height: 430px;
        top: 0;
        .swiper-slide {
            &:hover {@include box-shadow(none)}
        }
    }
    .coverflow, .fade {float: right;}
}
.bp-sm, .bp-md {
    #footer audio {width: 100%;}
    #img > img {
        opacity: 0.5;
    }
    #img > img#notmegaAlbum {
        filter: blur(0px);
        left: 50%;
        max-width: 100%;
        min-height: 200px !important;
        opacity: 1;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 90%;
        z-index: 5;
    }
    #artwork.on #img {
        background: rgb(0, 0, 0) none repeat scroll 0 0;
    }

}
/*medium*/
/*large*/
.bp-sm, .bp-md {
    #tracklist {overflow-y: scroll;}
    #tracklist, #brief {max-width: 100%;}
    #tracks {display: flex; flex-flow: row wrap; height: 100%; overflow: scroll !important; }
    #nowplay {
        background:#000000;
        bottom: 0;
        position: fixed;
        z-index: 4;
        &:hover {background: #222;}
        &:active {background: #000000;}
    }
    .swiper-container.playlist {overflow-y: scroll !important; padding-bottom: 150px !important;
        .swiper-slide { height: 47px;}
        .swiper-slide > strong {padding-left: 54px;}
        .swiper-slide > strong, .swiper-slide > div, .swiper-slide .thumb { height: 47px; max-height: 47px;}
        .swiper-slide > div {line-height: 47px;}
        .swiper-slide .thumb {width: 47px;}
    }
}
.bp-sm {
    #tracklist, #brief {padding-top: 67px;}
    #img {width: 100%;}
}


.bp-md {
    #artwork #img {
        height: unset;
        margin-top: 67px;
        padding: 0;
    }
    #artwork {
        height: unset !important;
        width: 100%;
    }
    #tracklist, #brief {
        background: rgba(18, 37, 62, 0.8) none repeat scroll 0 0;
        height: 100%;
        max-width: 100%;
    }
    .swiper-container.playlist .swiper-slide {
        background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0 !important;
    }
    #brief {
        filter: blur(40px);
    transition: all 1s ease 0s;
    }
    .playlist {
        flex-flow: row wrap !important;
    }
    #brief.on {
        filter: blur(0px);
    }
    #tracklist {
        filter: blur(40px);
        transition: all 1s ease 0s;
    }
    #tracklist.on {
        filter: blur(0px);
    }
    .swiper-container.playlist .swiper-slide > strong {
        color: rgb(189, 189, 189);
        display: inline-block;
        font-weight: normal;
        line-height: 47px;
        vertical-align: middle;
        width: 100%;
    }
    .swiper-container.playlist .swiper-slide > strong:hover {
        background: rgba(221, 221, 221, 0.1) none repeat scroll 0 0;
    }
}


/*temp*/
.overlay {
    text-align: center;
    padding: 15% 0;
}
.pulse {
    display: inline-block;
    margin: 0 auto !important;
    float: none;
    position: relative !important;
    text-align: center;
    height: 11px;
    line-height: 40px;
    padding: 0 10px;
}


@media only screen and (max-width: $maxsmall) {}
@media only screen and (max-width: $maxsmall) {
    #artwork {float: none; margin: 67px auto 0; height: auto; width: 100%;
        #img {float: none; height: auto; position: relative;}
    }
}
@media only screen and (max-width: $maxlarge) {}
