@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?3bdpg9');
  src:url('fonts/icomoon.eot?#iefix3bdpg9') format('embedded-opentype'),
    url('fonts/icomoon.woff?3bdpg9') format('woff'),
    url('fonts/icomoon.ttf?3bdpg9') format('truetype'),
    url('fonts/icomoon.svg?3bdpg9#icomoons') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"] span, [class*=" icon-"] span { display: none;}


.icon-chevron-right:before {
  content: "\e600";
}
.icon-controller-next:before {
  content: "\e601";
}
.icon-controller-paus:before {
  content: "\e602";
}
.icon-controller-play:before {
  content: "\e603";
}
.icon-dots-three-vertical:before {
  content: "\e604";
}
.icon-resize-100:before {
  content: "\e605";
}
.icon-resize-full-screen:before {
  content: "\e606";
}
.icon-air:before {
  content: "\e607";
}
.icon-circle-with-cross:before {
  content: "\e608";
}
.icon-export:before {
  content: "\e609";
}
.icon-info-with-circle:before {
  content: "\e60a";
}
.icon-list:before {
  content: "\e60b";
}
.icon-modern-mic:before {
  content: "\e900";
}
.icon-share-alternitive:before {
  content: "\e60c";
}
.icon-shuffle:before {
  content: "\e60d";
}
.icon-sound-mix:before {
  content: "\e60e";
}
.icon-ticket:before {
  content: "\e60f";
}