.swiper-container.coverflow {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
}
.coverflow .swiper-slide {
    background-position: center right;
    background-size: contain !important;
   	height: 130px;
    width: 300px;

}
@media screen and (max-width: 420px) {

}
