body.activity-permalink {
	#content, #content * {backround:none; border:none; @include box-shadow(none);}
	.single-in {float: left;}
	.buddyb .sing-cont {background:transparent;}
	.wrap.buddyb {padding-top: 40px;}
	.wrap.buddyb {padding-top: 40px; background:#dedede;}
	img.avatar {max-width: 80px;}
	#buddypress .activity-list li .activity-content {margin-left: 80px !important;}
	#buddypress div.activity-comments {margin-left: 0 !important;}
	#buddypress .activity-list > li {background: none;}
	.activity-meta a.button {display: inline-block; float: left; margin: 0 !important; width: 50%; }
}