.directory.activity {
    
}


/*activityform*/
#buddypress {
    
    #group-create-tabs.no-ajax {margin: -10px -2% 0; width: 104% !important; }
    #group-create-body .left-menu {width: 100%;}
    
    #whats-new-form {background: none repeat scroll 0 0 #ffffff; margin: 3% 5% 5% !important; position: relative; width: 90%;
            
            border: 2px solid #cdcdcd; 
            @include border-radius($myrad);
            &:hover {
              @include box-shadow(0 28px 8px -22px #bdbdbd);
            }
        .activity-greeting, #whats-new-avatar {display: none;}
         #whats-new-content textarea {width: 100% !important; line-height: 32px; height: 50px; float: none; 
            @include border-radius($myrad);
            padding: 8px; resize:none;
                &:focus {resize: vertical !important; border-color: $green !important; outline-color: $green;}
        }
        #whats-new-post-in-box, #whats-new-post-in-box > * {clear: both !important; color: #989898; line-height: 0 !important; float:left; }
        #whats-new-post-in-box {
            opacity: 0;
            select {display: none;}
            span.value {display: none;}
            dl {margin:0;}
            dt a {font-size: 0;}
            dl dt:before {content: "";font-family:$font-icon; display: block; font-size:.688em !important; text-align: center; line-height: 28px !important; margin: 0 !important; position: relative; right: 0; top: 0; vertical-align: middle; -moz-osx-font-smoothing: grayscale;}
            .whats-new-post-in > dt {cursor:pointer; @include border-box; color:#777; display: inline-block; line-height: 0 !important; padding: 0 5px; width: 40px;
                &:hover {color:#333;}
            }
        }
        textarea#whats-new { margin-bottom: 0px; @include trans(0ms);}
        #whats-new-content {padding:0 !important; margin-left:0 !important;
            .whats-new-textarea {display: inline-block; width: 100%;}
            .bpfb_controls_container {width: 100%; background: url("img/pattern-denim.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
                > div {padding:10px;}
                br {margin:1px;}
                input {max-width: 100% !important;}
                .qq-upload-button {@include btn(transparent,$myrad,#fff); border: 1px dashed #dddddd !important; width: 100%; overflow: hidden;}
                .qq-upload-button:hover {@include btn($green,$myrad,#fff); border: 1px solid $green !important; width: 100%;}
                .qq-upload-drop-area {background: none repeat scroll 0 0 #ffffff !important; border: 3px dashed $green; border-radius: 5px; @include box-shadow(0 0 0 7px #ffffff, 0 0 180px 80px #dddddd); }
                .qq-upload-drop-area-active {bottom: 0 !important; height: 100% !important; position: absolute; top: auto !important;border: 3px dashed lighten($blue,40%);}
                .qq-uploader {position: inherit;}
            }
        }

        .bpfb_toolbar_container a  {
            &:first-child {@include border-radius(0 0 0 $myrad);}
            span {display: none;}
            &:before {-moz-osx-font-smoothing: grayscale; border-right: 1px solid #cfcfcf; color: #7f7f7f; display: inline-block; float: left; font-family: $font-icon; font-size:1.563rem; font-weight: lighter; line-height: 50px; margin: 0; text-align: center; width: 50px;}
            &:hover:before {color:$green;}
            &#bpfb_addPhotos:before {content:"";}
            &#bpfb_addLinks:before {content:"";}
            &#bpfb_addVideos:before {content:"";}
        }


        .bpfb_toolbar_container {opacity: 0; pointer-events: none; position: absolute; right: 0; }
        .bpfb_preview_container {line-height: 1rem;}

        
        #whats-new-options {overflow:visible !important; pointer-events:none; position: absolute; bottom:0; right: 0; height:auto !important; margin:8px;}
        #whats-new-options, .bpfb_toolbar_container {display: table-cell; overflow: auto; width: auto !important;}
        #whats-new-submit {margin-top: 0 !important; 
            input { margin: 0 0 0 5px;}
        }
        #whats-new-options #mpp-activity-upload-buttons {margin-top: 0;}
        #whats-new-textarea {display: inline-block; width: 100%;}
        



        &.show-me {background-color:#f7f7f7; border:none;
            #whats-new-options {pointer-events:auto;}
            #whats-new-submit {
                input {@include btn($green,$myrad, #fff);}
                input[disabled] {@include btn(#9d9d9d,$myrad, #fff);}
            }
            &:hover {@include box-shadow(none)}
            #whats-new-post-in-box {opacity: 1;}
            textarea#whats-new {min-height: 130px; padding: 10px 10px 50px; line-height: 18px; border:2px solid #cdcdcd; margin-bottom: -51px;}
            .bpfb_toolbar_container {opacity: 1; position: relative; pointer-events:auto; }
        } /*end show-me*/

    } /*end whats new form*/
    #whats-new-form , #whats-new, .bpfb_toolbar_container, #whats-new-options {@include trans(400ms);}

    div.item-list-tabs.activity-type-tabs {
        @include tabs2($blue);
    } /* end whats new options*/

    

    div.item-list-tabs.no-ajax {
        @include tabs2($green);
        @include bp-small {
            margin:0 -3%;
            width: 107%;
        }
    } /* end whats new options*/
    
    .dir-form > .item-list-tabs {background: none repeat scroll 0 0 #383838 !important; @include box-shadow(0 -4px 0 #444444 inset);
        li{
            &.selected a, &.current a {color:#fff !important;background: url("http://dev.bonoboville.com/wp-content/themes/fullby/img/nav2.gif") repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0); padding:0 40px !important;}
            a {color: #ffffff; font-size: 0.7rem; font-weight: bold; height: 32px; line-height: 32px; opacity: 0.8; padding: 0 20px !important; }
            a:hover {@include box-shadow(0 -4px 0 #ecbd45 inset); }
            
        }
    }






     .item-list-tabs.no-ajax {width: unset !important;}
        #subnav li {line-height: 28px;}
        #subnav {height: 48px;
            @include bp-small {
                margin:0;
            }
            a {line-height: 48px;}
            li.filter label:before {
                content:$icon-filter;
                font-family: $font-icon;
            }
        }

    
    .activity-meta {background: none repeat scroll 0 0 #fefefe; clear:both; @include border-radius( 0 0 $myrad $myrad); margin-top:0 !important;}
    .activity-meta a { border: medium none !important; display: inline-block; font-size: 1rem !important; line-height: 3rem; min-width: 60px; padding: 0 12px !important;
                &.button.unfav {color:$green !important;}
                i {pointer-events: none; }
    }
    .activity-inner {margin: 0 !important;
        p {padding:0 2%;}
    }
                
            
    .thickbox {
        width: 100%; text-align: center;display: block;
        &> br {display: none; }
    }
    .activity-header > p {margin: 0 !important; }
    .activity-header { font-size:.75rem; margin: 0 !important; padding: 0 2%; }
    .activity-header > p > a:first-child {display: block; font-size:1rem; line-height: 20px; }
    .activity-inner { clear: both;
        &> p > iframe {width: 100%; }
    }
    #subnav {background: none !important;
        .feed {display: none;}
    }


    


    .activity-list {border-top: none !important; margin-top: 20px !important;  margin-bottom: 50px !important; padding-bottom: 10px !important;
        &> li {background:#f4f4f4; @include border-radius($myrad); margin:0 5% 3% !important; overflow: unset !important;padding-bottom: 0 !important;
            .activity-content {margin:0;}
            .activity-avatar {margin-left:15px;}
            .activity-comments {background: none repeat scroll 0 0 #ffffff; margin: 0;
                textarea {float:none;}
                &> ul {padding-left:0;}
                li {padding:10px 10px 0;
                    &:hover {border-left: 2px solid #00bb8f;}
                }
            }
            iframe {height: 300px !important; max-width: 110%; width: 104% !important; margin:0 -2%;}
        
            .activity-comments {@include border-radius( 0 0 $myrad $myrad);}
        }
        .bpfb_final_link {@include box-shadow(0 0 0 2px #dfdfdf inset, 0 5px 0 1px #ffffff inset); display: table; overflow: hidden; }
        .bpfb_final_link::after, .bbpress .activity-inner > blockquote::after {background: none repeat scroll 0 0 #d3d3d3; border-radius: 5px 0 0 5px; color: #ffffff; content: "Link"; font-size: 0.7rem; padding: 0 9px; position: absolute; right: 0; top: 0; }
        li.activity-item:hover .bpfb_final_link::after, li.bbpress:hover .activity-inner > blockquote::after {background: none repeat scroll 0 0 #a060c0; }
        .bbpress .activity-inner > blockquote::after {content:"Forums";}
        .bpfb_link_contents {float: left; max-height: 110px; overflow: hidden; padding: 10px 20px 0; width: 70% !important; }
        .bpfb_link_preview_container {float: left; width: 30%; }

    }
            

}
/*end activityform*/


/*activity*/
.activity {
    &.directory {
        .col-md-9.single {float: left;}
        .sing-spacer {padding:0;}
        .sing-cont {background-color:#dedede;}
        
        /*mediapress*/
            .mpp-container.mpp-media-list.mpp-activity-media-list.mpp-activity-photo-list > a {
                    display: inline-block;
                    float: left;
                    padding: 1px;
                    text-align: center;
                    width: 33.333%; }
            .mpp-attached-media-item {max-width: 100%; }
    } /*end activity directory*/
    .activity-filter-by.selectwrap dl {display: none; }
    .selectwrap.activity-filter-by {
        &:before {content: ""; font-family: $font-icon; margin-right: 10px; pointer-events: none;}
        &:after {content: "Filter By"; pointer-events: none;}
    }
    #activity-filter-select {overflow: hidden; position: relative; margin-top: 0 !important; 
        select {display: inline-block; opacity: 0; height: 35px; left: 0; margin: 0 !important; max-width: 175px; position: absolute; top: 0; width: 100%;}
    }
    #activity-filter-select label {display: none; }
    #activity-filter-select div {background: transparent; @include border-radius(200px); display: block; padding: 0 20px; text-align: center; width: 100%;
        &:hover {background:#f4f4f4;@include box-shadow(0 0 0 2px $green inset);}
    }
    .load-more a * {pointer-events: none; }
    #subnav {float: right; height: 60px; margin: 0 0 -60px !important; padding: 14px 30px; display: none !important; position: relative; top: -60px;
        ul {margin:0 !important;}
        li {line-height: 35px;}}
    
}