
/* #01 Generic #buddypress */
#buddypress {
    table.forum tr td,
    table.messages-notices tr td,
    table.notifications tr td,
    table.notifications-settings tr td,
    table.profile-fields tr td,
    table.profile-settings tr td,
    table.wp-profile-fields tr td { background:#fff;}

    form input[type=submit] {@include btn($green,$myrad,#fff);}
    form.standard-form { padding: 10px; }
    form.standard-form label {margin-top: 0 !important; }

    table.forum tr.alt td,
    table.messages-notices tr.alt td,
    table.notifications tr.alt td,
    table.notifications-settings tr.alt td,
    table.profile-fields tr.alt td,
    table.profile-settings tr.alt td,
    table.wp-profile-fields tr.alt td { background:#f4f4f4;}

    /*pagination*/
    div.pagination {
    background: none repeat scroll 0 0 #ffffff !important;
    @include border-radius( 0);
    @include box-shadow(0 -20px 36px -36px #dfdfdf inset);
    font-size:.813em !important;
    text-align: center;
    float: none !important;
    text-transform: uppercase;
        .pag-count {float: none !important; }
        .pagination-links {float: none !important;margin:0 !important;}
        .prev, .next {
            &.page-numbers {color: rgba(0, 0, 0, 0); font-size: 0; border:none !important; 
               &:before {color: #004e90; content: $icon-right; font-family: $iconfont; font-size: 2rem; vertical-align: middle;}
            }
        }
        .prev.page-numbers {padding-left: 0 !important;}
        .next.page-numbers {padding-right: 0 !important;}
        .prev.page-numbers::before {content: $icon-left;}
        .page-numbers {display: inline-block;
    font-size: 1rem !important;
    height: 40px;
    line-height: 40px;
    padding: 0 20px !important;
    vertical-align: top;
            &:hover {font-weight: normal !important; border:solid 1px saturate($blue, 50%);}
            &.current {border:solid 2px $green;}
        }

    }

    /*friendship button*/
    .friendship-button {
        a {overflow: hidden;  position: relative;
            i, span {pointer-events:none;}
            i {margin-right: 7px;}
        }
        .add { @include btn($blue,$myrad, #fff);}
        .pending_friend, .remove, .awaiting_response_friend {@include btn(lighten($blue,50%),$myrad, #6f6f6f)}
        .is_friend.remove {@include btn($green,$myrad, #fff)}
        a:focus, a:hover, a:focus:hover {color: rgba(0, 0, 0, 0) !important;}
        a:focus::after {background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1); content: ""; display: inline-block; height: 40px; line-height: inherit; margin-left: 7px; padding: 10px 6px; position: absolute; right: 0; top: 0; width: 100%; }
        a:focus::before { @include animate(rotateThis, 4000ms, 0s, infinite); -moz-osx-font-smoothing: grayscale; color: #ffffff; content: "î™»"; font-family: $iconfont; font-size: 1rem; left: 0; line-height: 2rem; padding: 0 !important; position: absolute; text-align: center; top: 0; width: 100%; z-index: 1;}
    } 



    
    /* submit button*/
    #messages_search_submit, #members_search_submit, #groups_search_submit {background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: medium none !important;
    font-size:0.875em !important;
    line-height: 36px !important;
    padding: 0 10px !important; position: absolute;top:7px; right:7px;}
    #search-message-form label {margin: 0; }
    .message-search {
            input {background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border-bottom: 2px solid #000; font-size:0.875rem; height: 130px; line-height: 36px; margin: 0 -30px 0 0 !important; padding: 0; position: relative; vertical-align: bottom; z-index: 1;@include trans(500ms);
                &:focus {margin:0 18px 0 0 !important;height: 37px;}
            }  
    } 
    #search-message-form { 
        &> input[type="submit"] {
        border: medium none;
        @include border-box;
        display: inline-block;
        font-size:0.875rem;
        line-height: 34px;
        padding: 0;
        vertical-align: middle; }
    }

    div.dir-search {height: 60px; margin: -60px 0 0 !important; overflow: hidden; position: absolute; right: 0; top: 0; width: 100%;
        label {font-size:1.875rem; line-height: 50px; margin: 0; width: 100%; }
        label input {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
            border: medium none !important;
            color: rgba(0, 0, 0, 0) !important;
            font-weight: 300 !important;
            height: 60px;
            padding: 0 10px !important;
            width: 100% !important;
            opacity: 0;
            position: relative;
            font-family: 'Lato', arial ;
            @include trans(1s);
            text-transform: uppercase;
            vertical-align: middle;
            z-index: 5;}
        label input:focus, label input:active {
            background: none repeat scroll 0 0 #f4f4f4 !important;
            @include box-shadow(-85px 0 0 $bonobo inset, 0 -9px 0 #f4f4f4 inset, 0 44px 0 #f4f4f4 inset, 8px 0 0 #f4f4f4 inset, -89px 0 0 #f4f4f4 inset, 9px 0 0 #02c29d inset, -90px 0 0 #02c29d inset, 0 -10px 0 #02c29d inset);
            color: #000000 !important;
            opacity: 1;
            z-index: 3;}
        button#members_search_submit {
            background: none repeat scroll 0 0 #f5f5f5 !important;
            border-bottom: 10px solid #f5f5f5 !important;
            border-top: 10px solid #f5f5f5 !important;
            color: #02c29d;
            height: 60px;
            line-height: 40px !important;
            right: 0;
            top: 0;
            vertical-align: middle;
            width: 80px;
            z-index: 4;}
    } /*end dir-search*/
} /*end buddypress*/


/*buddyb*/
.buddyb {
    position: relative;
    .sing-spacer {padding:10px;} 
    @include bp-medium{.sing-spacer {padding:0;} }
    .sing-cont {background:#fff; @include border-radius(0 0 $myrad $myrad ); width: 100%;
    margin: 0 !important;
    padding: 0 !important;}
    .sing-tit-cont {
    display: inline-block;
    font-size: 1.250rem;
    line-height: 60px !important;
    margin: 0 !important;
    padding: 0 10px !important;
    background:rgb(244, 244, 244); width: 100%; 
        * {line-height: 60px; margin: 0; }
        h3 {z-index: 1; position: relative;}
    }   
    .single {float:left;}
    .single-in { overflow: hidden; float: right;
        @include trans(1s);
        &.open {width: 100%; margin:0;}
    }

}
/*end buddyb*/

 .page-id-46869 {
    .sing-tit-cont {
    background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: url("img/headers.jpg") !important;
    background-origin: padding-box !important;
    background-position: center -152px;
    background-repeat: repeat !important;
    background-size: cover;
    height: 115px;
    line-height: 115px !important; text-align: center; }
    .buddyb .sing-tit-cont h3 {
        line-height: 115px;
        color: #fff;
        @include text-shadow(0 2px 3px #444);
        &:before{content:$icon-studio; font-family: icomoon; margin-right: 10px;}
    }
    .sing-cont { background: none repeat scroll 0 0 #000000; @include box-shadow(0 0 40px #202020 inset, 0 -31px 50px #000000);
    &:after {clear: both !important; content: ""; display: block;}
    }
    .sing-spacer > div {padding: 0; }
    .sing-spacer h3.text-center {
    background: url('img/woodgrain.jpg') repeat scroll center bottom / cover rgba(0, 0, 0, 0);
    @include border-radius($myrad $myrad 0 0);
    @include box-shadow(0 0 3px 2px rgba(255, 255, 255, 0.14) inset, 0 0 0 5px rgba(0, 0, 0, 0.65) inset);
    color: adjust-hue($banana, -10%);
    display: block;
    font-family: lato;
    font-size: 1.2rem;
    font-variant: small-caps !important;
    letter-spacing: 0.5rem;
    @include trans(500ms);
    line-height: 50px;
    margin: 0;
    padding: 0 20px;
    text-align: left;
    @include text-shadow(2px 2px 2px #000000, -4px 2px 2px #000000, 6px 1px 6px #e06000, -3px 1px 5px #e06000);
    a {color:adjust-hue($banana, -10%);}
    &:hover {letter-spacing:.4rem;}
}
    .quick-chat-container {background: none repeat scroll 0 0 rgba(255, 255, 255, 0.27); padding: 4% !important; }
    .quick-chat-adsense {display: none; margin: 0 !important; }
    .quick-chat-alias-container {display: none; }
    textarea.quick-chat-message {
        height: 40px;
        padding:2px 5px !important;
    }
    .quick-chat-history-message-alias-container {
        line-height: 1rem;
    }
    .quick-chat-history-message-alias-container .quick-chat-history-timestring {
        float: right;
        font-size: 0.7rem;
        font-style: normal;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        top: 0;
    }

    .quick-chat-history-message-alias-container {
        position: relative;
    }
    .quick-chat-history-message-alias-container .quick-chat-history-alias {
        color: rgb(255, 255, 255) !important;
    }
    .quick-chat-history-message-alias-container .quick-chat-history-alias a, div.quick-chat-users-container div.quick-chat-admin, div.quick-chat-users-container div.quick-chat-admin a, div.quick-chat-admin div.quick-chat-history-alias, div.quick-chat-admin div.quick-chat-history-alias a {
        color: $banana !important;
        &:hover {color:saturate($banana, 20%); text-decoration: underline;}
    }
    .quick-chat-history-header, .quick-chat-history-header::before, .quick-chat-history-header::after {
        clear: unset !important;
    }




}

.members.directory, .bbpress.post-type-archive-forum, .groups.directory, .my-messages, .single-forum, .classifiedsindex {
    .sing-tit-cont {
    background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: url('img/headers.jpg') !important;
    background-origin: padding-box !important;
    background-position: center top;
    background-repeat: repeat !important;
    height: 115px;
    line-height: 115px !important; }
    .sing-cont {@include box-shadow(0 40px 50px 50px rgba(255, 255, 255, 0.6), 0 40px 50px 400px rgba(0, 0, 0, 0.4));}
    .buddyb .sing-tit-cont h3 {
        line-height: 115px;
        color: #fff;
        @include text-shadow(0 2px 3px #444);
    }
} /*end multiple*/


.messages.bp-user {
    .single {overflow: hidden;}
}

.bbpress.post-type-archive-forum, .single-forum, .classifiedsindex {
    .sing-tit-cont {background-position: center bottom;
        &> h3 {text-align: center;}
    }
}
.directory {
    &.members .sing-tit-cont {background-position: center -175px;}
    &.groups .sing-tit-cont {background-position: center 450px;}
}
.my-messages {
    .sing-tit-cont {background-position: center top;}
}





/*messages-notices*/
.bp-template-notice{
    width: 100%;line-height: 2rem;
    padding: 0 10px;
    text-align: center;
    &.updated {background: rgba($green, 0.7); color: #fff; }
    p {margin-bottom: 0;}
} /*end notices*/



#login-form {
    &> * {margin-bottom:10px;}
    .input-prepend i {float: left; }
    .input-prepend span.add-on {float: left; text-align: center; width: 20%; }
    .input-prepend input { width: 80%; }
    .input-prepend {clear: both; }
    .input-prepend span.add-on i {float: none; line-height: 30px; margin: 0; }
    .checkbox {clear: both; margin: 0 !important; padding-bottom: 20px; padding-top: 20px; }
}

.logged-in {
    #mainmenu {
        .navbar-nav > li:last-child > a {padding-right: 65px !important;}
    }
}

.wpcf7-form { position: relative;
    textarea , input {margin-bottom:10px; }
    input {max-width: 100%; width: 100%;}
    .wpcf7-text {background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border-bottom: 3px solid #b3b3b3; @include trans(200ms);
        &:focus {border-color:$green;}
    }
    .wpcf7-submit {@include btn($blue, $myrad, #fff);}
    .col-md-4, .col-md-12, .wpcf7-mail-sent-ok {@include trans(1s);}
    .wpcf7-mail-sent-ok {opacity: 0;}
    &.sent {
        .col-md-4, .col-md-12 {opacity: 0.2; }
        .wpcf7-mail-sent-ok {background: none repeat scroll 0 0 #fff; opacity:1; bottom: 34%; @include box-shadow(0 0 100px 0 #fff); @include border-box; display: table-cell; margin: 0 10%; padding: 4%; position: absolute; text-align: center; vertical-align: middle; width: 80%; }
    }

}



