/* #4.1 Member Profile page */
.bp-user {
    .profile_header {position:relative; @include box-shadow(0 32px 30px -30px $green inset); display: block; width: 100%; background-color:#efefef; min-height: 100px; height: 100px;}
}
.generic-button {float: right !important;
    .send-message, .mention {
        @extend .btn;
        @extend .btn-default;
        font-size: 0 !important;
        &:before {
            font-size:0.875rem !important;
            font-family: $font-icon;
        }
    }
     .send-message:before {content: ""; }
     .mention:before {content: ""; }
}


.is-user-profile {
    &.init .profile_header {@include box-shadow(none);}
    .wrap .profile_header {@include trans(1000ms);}
    .profile_hd_container {position: relative; overflow: hidden; display: block;
        #bpprofbpg_change {background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
            height: 100%;
            position: absolute;
            color: #fff;
            text-align: center;
            width: 100%;
            z-index: 2;}
    }
    .edit_bg {display: none; opacity: 0;}
    #item-header-avatar .avatar {max-width: 90px;}
    #item-header {
        .user-nicename, span.activity {text-indent: 10px; }
    }
    &.activity {
        &.init .featured.loading {opacity: 0;}
    }
    
    .sing-cont {background: #dedede;}

    #buddypress {
        #item-header-avatar {vertical-align: top;
            .avatar {margin:0; }
        }
        #item-header-content {float: none !important; width: 100%;}

        @include bp-medium {
            #item-header-avatar, #item-header-content {display: block; }
        }

        #item-header {display: table; width:100%; background: none repeat scroll 0 0 #ffffff; border: medium none; border-radius: 0; margin-top: -40px; padding: 2px; @include trans(1s);
            @include bp-medium {
                display: block;
            }
            ul {margin:0;}
            &.sticktop {
             margin-top: 0 !important;
             position: fixed;
             top: 0;
             z-index: 3;
             .avatar {max-width: 50px;}
             }
            div.item-list-tabs.no-ajax {@include tabs2($green); } /* end whats new options*/
        }

        

        
        #object-nav
        #subnav.item-list-tabs.no-ajax {@include tabs2($blue);}
        
        #object-nav li > a::before {display: block; font-family: $font-icon; font-size: 2rem; }
        #xprofile-personal-li > a::before {content: "";}
        #friends-personal-li > a::before {content: ""; }
        #groups-personal-li > a::before {content: ""; }
        #forums-personal-li > a::before {content: ""; }
        #invite-anyone-personal-li > a::before {content: ""; }


        #activity-personal-li, #notifications-personal-li, #messages-personal-li, #settings-personal-li, #activity-friends-personal-li {display: none !important;}
    } /* end buddypress */
    .profile-fields tr .label {color: #000000; display: table-cell; text-align: right; }
    @include bp-xlarge {
        form.integrations .editfield {border: 2px solid #c0c0c0;
         @include border-box;
         display: inline-block;
         margin: 0 0 10px !important;
         min-height: 200px !important;
         vertical-align: top;
         width: 49.8%;
         }
     }

    &.my-account {
            .profile_hd_container{
                .bp-template-notice{background:transparent; position: absolute; z-index: 2; @include trans(500ms); opacity:.8; @include box-shadow(0 60px 20px -20px rgba(0, 0, 0, 0.8) inset, 0 20px 10px -10px rgba(0, 0, 0, 0.8) inset); font-size: 0.7rem; margin-top:0; line-height: 60px;}

        }
    }
    &.my-account.activity {
        .edit_bg {z-index:2; position:relative; display: inline-block; opacity: 1; text-align: center;vertical-align: middle; margin: 10px 10px 0 0; float: right;}
    }
    
    &.activity {
        div#item-header img.avatar {max-width: 150px;}
        #item-header-avatar, #item-header-content {display: table-cell; }
        #subnav > ul > li {display: none;
                            &.last {display: inline-block;}
                        }
    }

} /*end user profile*/