/* #4.1 Member Profile page */
.bp-user {
    .profile_header {position:relative; @include box-shadow(0 32px 30px -30px $green inset); display: block; width: 100%; background-color:#efefef; min-height: 100px; height: 100px;}
}
.is-user-profile {
    &.init .profile_header {@include box-shadow(none);}
    .wrap .profile_header {@include trans(1000ms);}
    .profile_hd_container {position: relative; overflow: hidden; display: block;
        #bpprofbpg_change {background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
            height: 100%;
            position: absolute;
            color: #fff;
            text-align: center;
            width: 100%;
            z-index: 2;}
    }
    .edit_bg {display: none; opacity: 0;}
    #item-header-avatar .avatar {max-width: 90px;}
    #item-header {
        .user-nicename, span.activity {text-indent: 10px; }
    }
    &.activity {
        &.init .loading {opacity: 0;}
    }
    

    #buddypress {
        div#item-header ul {margin:0;}
         #item-header {display: table; width:100%; background: none repeat scroll 0 0 #ffffff; border: medium none; border-radius: 0; margin-top: -40px; padding: 2px; @include trans(1s);
            &.sticktop {
             margin-top: 0 !important;
             position: fixed;
             top: 0;
             z-index: 3;
             .avatar {max-width: 50px;}
             }
         }

         #item-header-avatar {display: table-cell; vertical-align: top;
            .avatar {margin:0; float: none; max-width: 150px; }
         }
         #item-header-content {float: none !important; display: table-cell; width: 100%;}

        div.item-list-tabs.no-ajax {@include tabs2($green); } /* end whats new options*/

        
        #activity-personal-li, #notifications-personal-li, #messages-personal-li, #settings-personal-li, #activity-friends-personal-li {display: none !important;}
    } /* end buddypress */

    &.my-account {
            .profile_hd_container{
                .bp-template-notice{opacity: 0; background:transparent; position: absolute; z-index: 2; @include trans(500ms); font-size: 0rem; margin-top: -30px;}

                &:hover {
                    .bp-template-notice {opacity:.8; @include box-shadow(0 60px 20px -20px rgba(0, 0, 0, 0.8) inset, 0 20px 10px -10px rgba(0, 0, 0, 0.8) inset); font-size: 1rem; margin-top:0; line-height: 60px;}}
        }
    }
    &.my-account.activity {
        .edit_bg {z-index:9; position:relative; display: inline-block; opacity: 1; text-align: center;vertical-align: middle; margin: 10px 10px 0 0; float: right;}
    }
    
    &.activity {
        #subnav > ul > li {display: none;
                            &.last {display: inline-block;}
                        }
    }

} /*end user profile*/