
body.registration {
    .navbar-brand { display: inline-block;
    margin: 24px 0 !important;}
    .navbar.navbar-inverse.navbar-fixed-top { }
    .navbar-header {}
    .navbar-header a {}
    .footer {background:transparent; text-align: center; border:none;padding-bottom:40px;
        .navbar-nav {display: inline-block; float: none;}
    }
    .single {color:#fff; float:none;}
    .single-in {background: none repeat scroll 0 0 rgba(255,255,255,0.81); color: #404040; padding-bottom:80px; display: block;
    float: none;
    margin: 0 auto !important;margin-bottom: 100px;}
    .sing-spacer {padding-top: 0;}
    .sing-cont {margin-left: 5%;width: 90%;}
    .sing-tit-cont {margin:0 auto; width: 100%; background:none; text-align: center;}
    .wp-social-login-widget {display: block;width: 100%;}
    .wp-social-login-provider > img {display: none; }
    .wp-social-login-provider-list { display: table; padding: 10px 0; width: 100%;}
    .wp-social-login-provider {float: left;
        font-size:0.9rem;
        font-weight: normal;
        margin: 0 1%;
        width: 31.333% !important;
        &:before {border-right: 1px solid rgba(255, 255, 255, 0.2); margin-right: 7px; padding-right: 7px; position: relative;
            -moz-osx-font-smoothing: grayscale;  content: ""; font-family: $iconfont; 
            @include text-shadow(2px 1px 0 rgba(0, 0, 0, 0.1)); top: -2px; vertical-align: middle; display: inline-block;}
        &:after {@include text-shadow(2px 1px 0 rgba(0, 0, 0, 0.1)); }
        &.wp-social-login-provider-facebook:after {content: " Use Facebook"; display: inline-block; }
        &.wp-social-login-provider-twitter:after {content: " Use Twitter"; display: inline-block; }
        &.wp-social-login-provider-google:after {content: " Use Google+"; display: inline-block; }
        &.wp-social-login-provider-twitter:before {content: ""; }
        &.wp-social-login-provider-google:before {-moz-osx-font-smoothing: initial; content: ""; font-size: 1.2rem; line-height: 1rem; }
        &.wp-social-login-provider-twitter {@include btn(#51b6f7,$myrad, #fff);}
        &.wp-social-login-provider-facebook {@include btn(#5b71ad,$myrad, #fff);}
        &.wp-social-login-provider-google {@include btn(#ce5232,$myrad, #fff);}
    }
        .bblogin-dv:after {content: " Sign In with Facebook"; display: inline-block; }
        .bblogin-rq:after {content: " Sign In with Twitter"; display: inline-block; }
        .bblogin-rq:before {-moz-osx-font-smoothing: grayscale; content: ""; display: inline-block; font-family: $iconfont; }
        .bblogin-rq {background: #51b6f7; color: #ffffff; }
        .bblogin-dv {background: #5b71ad; color: #ffffff; }


    #signup_form {background: transparent;
        
    }
    form .wp-social-login-widget {display: none;}

    #buddypress .standard-form #basic-details-section, #buddypress .standard-form #blog-details-section, #buddypress .standard-form #profile-details-section {display: table-cell;padding:0 10px;float: none; vertical-align: top;}
    #pass-strength-result { margin: 0; overflow: hidden; padding: 0 !important; width: 100%;}
    #pass-strength-result.short {width: 1}
    .password-entry, .password-entry-confirm {width: 90% !important; @include border-box;}
    input {width: 100% !important;}
    #signup_submit {font-size:1.063em !important; padding: 10px !important;}

}

.field_185 {
    display: none !important;
}